
#user {
	width:268px;
	height:398px;
	float:right;
	margin:0 0 10px 0;
	border:1px solid #ccc;
}
#user form {
	position:relative;
}
#user form label {
	display:block;
	padding:8px 0 5px 12px;
}
#user form label input.text {
	width:180px;
	height:20px;
	border:1px solid #666;
	background:#eee;
}
#user form label input.code {
	width:100px;
}
#user form img {
	position:absolute;
	top:82px;
	left:170px;
}
#user form p {
	padding:5px 0;
	text-align:center;
}
#user form p input.submit {
	width:45px;
	height:20px;
	cursor:pointer;
	font-sizez:12px;
}
#user form p a {
	color:green;
	text-decoration:none;
}
#user form p a:hover {
	text-decoration:underline;
}
#user h3 {
	font-size:12px;
	padding:8px 10px;
}
#user h3 span {
	color:#ccc;
}
#user dl {
	width:72px;
	float:left;
	padding:0 0 0 12px;
}
#user dl dt img {
	display:block;
}
#user dl dd {
	padding:5px;
	text-align:center;
}
#news {
	width:378px;
	height:398px;
	border:1px solid #ccc;
	float:right;
	margin:0 10px 10px 0;
	padding:0 10px;
}
#news h3 {
	text-align:center;
	padding:10px;
	color:#333;
	font-size:16px;
}
#news h3 a {
	color:#333;
	text-decoration:none;
}
#news h3 a:hover {
	text-decoration:underline;
}
#news p {
	line-height:150%;
}
#news p a {
	color:#333;
	text-decoration:none;
}
#news p a:hover {
	text-decoration:underline;
}
#news p.link {
	color:green;
	padding:4px 0;
	border-bottom:1px dashed #999;
}
#news p.link a {
	color:green;
	display:inline-block;
	padding:0 0 5px 0;
}
#news ul {
	padding:5px 2px 0 2px;
}
#news ul li {
	height:24px;
	line-height:24px;
	background:url(../images/pointer.png) no-repeat left center;
	padding:0 0 0 10px;
}
#news ul li em {
	float:right;
	font-style:normal;
	font-family:Tahoma;
}
#news ul li a {
	color:#666;
	text-decoration:none;
}
#news ul li a:hover {
	text-decoration:underline;
}
#pic {
	width:270px;
	height:195px;
	float:left;
	margin:0 0 10px 0;
}
#pic img {
	display:block;
	border:1px solid #ccc;
}
#rec {
	width:268px;
	height:193px;
	float:left;
	margin:0 0 10px 0;
	border:1px solid #ccc;
}
#rec ul {
	padding:2px 10px 0 10px;
}
#rec ul li {
	height:23px;
	line-height:23px;
	background:url(../images/pointer.png) no-repeat left center;
	padding:0 0 0 10px;
}
#rec ul li em {
	float:right;
	font-style:normal;
	font-family:Tahoma;
}
#rec ul li a {
	color:#666;
	text-decoration:none;
}
#rec ul li a:hover {
	text-decoration:underline;
}
#sidebar-right {
	width:270px;
	height:835px;
	float:right;
	margin:0 0 10px 0;
}
#sidebar-right div.adver {
	width:270px;
	height:200px;
	margin:0 0 10px 0;
}
#sidebar-right div.adver img {
	display:block;
}
#sidebar-right div.hot,#sidebar-right div.comm,#sidebar-right div.vote {
	border:1px solid #ccc;
	height:200px;
	margin:0 0 10px 0;
}
#sidebar-right div.vote {
	margin:0;
}
#sidebar-right div.vote h3 {
	padding:10px;
	text-align:center;
	font-size:14px;
	color:#369;
	border-bottom:1px dashed #ccc;
	width:80%;
	margin:5px auto;
}
#sidebar-right div.vote form label {
	display:block;
	padding:2px 0 2px 20px;
}
#sidebar-right div.vote form p {
	text-align:center;
	padding:5px;
}
#sidebar-right div.vote form p input {
	width:45px;
	height:20px;
	margin:0 3px;
	cursor:pointer;
	font-size:12px;
}
#sidebar-right ul {
	padding:3px 10px 0 10px;
}
#sidebar-right ul li {
	height:24px;
	line-height:24px;
	background:url(../images/pointer.png) no-repeat left center;
	padding:0 0 0 10px;
}
#sidebar-right ul li em {
	float:right;
	font-style:normal;
	font-family:Tahoma;
}
#sidebar-right ul li a {
	color:#666;
	text-decoration:none;
}
#sidebar-right ul li a:hover {
	text-decoration:underline;
}
#picnews {
	width:678px;
	height:198px;
	border:1px solid #ccc;
	float:left;
	margin:0 0 10px 0;
}
#picnews dl {
	width:156px;
	float:left;
	padding:10px 0 0 11px;
}
#picnews dl dt {
	border:1px solid #999;
	padding:2px;
}
#picnews dl dt img {
	border:none;
	display:block;
}
#picnews dl dd {
	padding:5px;
	text-align:center;
}
#picnews dl dd a {
	color:#666;
	text-decoration:none;
}
#picnews dl dd a:hover {
	text-decoration:underline;
}
#newslist {
	width:680px;
	height:625px;
	float:left;
	margin:0 0 10px 0;
}
#newslist div.list {
	width:49%;
	height:306px;
	border:1px solid #ccc;
	float:left;
}
#newslist div.list h2 a {
	float:right;
	padding:0 10px 0 0;
}
#newslist div.list h2 a {
	color:green;
	text-decoration:none;
}
#newslist div.list h2 a:hover {
	text-decoration:underline;
}
#newslist ul {
	padding:8px 10px 0 10px;
}
#newslist ul li {
	height:24px;
	line-height:24px;
	background:url(../images/arrow.png) no-repeat left center;
	padding:0 0 0 10px;
}
#newslist ul li em {
	float:right;
	font-style:normal;
	font-family:Tahoma;
}
#newslist ul li a {
	color:#666;
	text-decoration:none;
}
#newslist ul li a:hover {
	text-decoration:underline;
}
#newslist div.right {
	float:right;
}
#newslist div.bottom {
	margin:0 0 10px 0;
}
