#list {
    width:690px;
    min-height:600px;
    float: left;
    margin:0 0 10px 0;
}
#list h2 {
    border:1px solid #ccc;
    border-bottom:none;
}
#list h2 a{
    text-decoration: none;
    color: #360;
}
#list h2 a:hover{
    color: #f60;
}
#list dl {
    height:110px;
    margin:10px 0;
    border-bottom:1px dashed #ccc;
}
#list dl dt {
    width:150px;
    height:100px;
    float: left;
}
#list dl dd {
    width:530px;
    float: left;
    margin:0 0 0 10px;
    padding:0 0 5px 0;
    line-height:150%;
}
#list dl dd a{
    text-decoration: none;
    font-weight:bold;
    color: #369;
    font-size:14px;
}
#list dl dd a:hover {
    color:#f60;
}
#sidebar {
    width:260px;
    min-height:600px;
    float: right;
    margin: 0 0 10px 0;
}
#sidebar div.nav {
    border:1px solid #ccc;
    text-align: center;
    padding:0 0 5px 0;
    margin:0 0 10px 0;
}
#sidebar div.nav span {
    padding:5px 0 0 0;
    display:inline-block;
}
#sidebar div.nav strong {
    width: 110px;
    height:25px;
    line-height: 25px;
    border:1px solid #ccc;
    display:inline-block;
}
#sidebar div.nav strong a{
    font-weight:normal;
    text-decoration: none;
    color: #666;
    display:inline-block;
    width:110px;
    height:25px;
    background:#eef3f7;
}
#sidebar div.right {
    border:1px solid #ccc;
    margin:0 0 10px 0;
}
#sidebar div.right ul {
    padding:2px 10px 0 10px;
}
#sidebar div.right ul li {
    height:23px;
    line-height:23px;
    background:url(../images/pointer.png) no-repeat left center;
    padding:0 0 0 10px;
}
#sidebar div.right ul li em {
    float:right;
    font-style:normal;
    font-family:Tahoma;
}
#sidebar div.right ul li a {
    color:#666;
    text-decoration:none;
}
#sidebar div.right ul li a:hover {
    text-decoration:underline;
}